@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-50: #fdfde9;
  --color-blue-100: #f6fad9;
  --color-blue-200: #ebf1b3;
  --color-blue-300: #dce67f;
  --color-blue-400: #c7d94a;
  --color-blue-500: #a3c61e;
  --color-blue-600: #88a519;
  --color-blue-700: #6f8615;
  --color-blue-800: #596b11;
  --color-blue-900: #47550e;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;
}
